.modern {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1e1e2f;
    color: white;
    z-index: ();
}

.my-brand {
    display: flex;
    align-items: center;
    gap: 10;
    font-weight: bolder;
    cursor: pointer;
    color: aqua;
    font-size: 32px;
}

.nav {
    display: flex;
    list-style-type: none;
    gap: 200px;
}

nav a {
    color: white;
    text-decoration: none;
}





.login-container {
    width: 300px;
    margin: 0 auto;
    /*center*/
    margin-top: 90px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    /* Отступ между блоками */
    padding: 8px;
    border: 2px solid #ccc;
}

button {
    padding: 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}



.login-button {
    display: flex;
    text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  background: #d3d3d3;      /* Сірий фон */
  color: #000;
  text-decoration: none;
  font: 14px Arial;
  border: 2px solid #000;  
  box-sizing: border-box;
}