.modern {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1e1e2f;
    color: white;
    z-index: 1000;
}
.my-brand {
    display: flex;
    align-items: center;
    gap: 10;
    font-weight: bolder;
    cursor: pointer;
    color: aqua;
    font-size: 32px;
}
.nav {
    display: flex;
    list-style-type: none;
    gap: 200px;
}
nav a {
    color: white;
    text-decoration: none;
}