body {
    background-image:url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?semt=ais_hybrid&w=740&q=80) ;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.film {
    text-decoration: none;
    font-size: 32px;
}
.lol {
    text-decoration: none;
    color: white;
    font-size: 64px;
    display: flex;
    justify-content: center;
}
.lil {
      text-decoration: none;
    color: lightgreen;
    font-size: 64px; 
        display: flex;
    justify-content: center; 
}